/** @format */
$shadow: 4px 4px 8px #0007;
$canvas: inset 2px 2px 2px white, inset -2px -2px 2px #5557, $shadow;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Oswald:wght@200;400;700&display=swap");
@import "manager";
h1,
h2,
h3,
h4,
h5 {
    font-family: "Oswald";
}
h1 {
    font-size: 4.5vw;
}
h2 {
    font-size: 4vw;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
body {
    user-select: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    // overflow: hidden;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    & * {
        box-sizing: border-box;
    }
}
.background {
    width: 100%;
    & > .background__leftside {
        width: 33.33vw;
        height: 100vh;
        background-color: #f9785880;
    }
}
.panel {
    position: absolute;
    margin: 1rem 0;
    box-shadow: $shadow;
}
.panel-right {
    border-radius: 2rem 0 0 2rem;
    right: 0;
}
.panel-left {
    border-radius: 0 2rem 2rem 0;
    left: 0;
}
.main-panel {
    top: 0;
    width: 75vw;
    height: 66.66vh;
    background: linear-gradient(135deg, #ffa451, #c76306);
    box-shadow: $canvas;
    & > .main-panel__container {
        padding: 1rem 1rem 1rem 10rem;
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        height: 100%;
        & > .images-carousel {
            position: relative;
            & > .images-carousel__container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                overflow: scroll;
                position: absolute;
                top: 0;
                bottom: 0;
                & > .images-carousel__item {
                    cursor: pointer;
                    & > .images-carousel__item-img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        & > .current-image {
            width: 100%;
            padding: 1.5rem;
            display: flex;
            align-items: center;
            position: relative;
            & > img {
                width: 100%;
                height: auto;
                filter: drop-shadow(2px 2px 6px black);
            }
        }
        & > .description {
            width: 100%;
            overflow: scroll;
            display: grid;
            grid-template-rows: 1fr 1fr 3fr;
            place-items: center;
            position: relative;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            // align-items: center;
            & > .description__text {
                padding: 0 0.5rem;
                color: black;
            }
            & > .description__title {
                flex: 0 0;
            }
            .description__price {
                width: 100%;
            }
            .description__price-img {
                width: 100%;
                position: relative;
                & > img {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: -50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                .description__price-value {
                    position: absolute;
                    margin: auto 0;
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    top: -50%;
                    transform: translateY(-50%);
                    font-style: italic;
                    font-family: "Oswald";
                    text-shadow: 1px 1px 4px #0007;
                }
            }
        }
    }
}

.specification {
    top: 33.33vh;
    width: 33.33vw;
    height: 44vh;
    background: linear-gradient(135deg, #fff, #ccc);
    transform: translateY(-50%);
    box-shadow: $canvas;
    position: absolute;
    z-index: 100;
    & > .specification__title {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    & > .specification__text-container {
        overflow: scroll;
        width: 100%;
        position: relative;
        margin: 1rem 0;
        // padding: 1rem;
        height: 80%;
        & > .specification__text {
            padding: 1rem;
            columns: 2;
            column-rule: dotted #ffa451;
        }
    }
    & > .specification__drag {
        position: absolute;
        margin: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
        height: 30%;
        width: 2px;
        background-color: #555;
        cursor: pointer;
        box-shadow: 2px 0 6px black;
    }
}
.background__leftside {
    position: relative;
}
.title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7vh;
    left: 12.5vw;
    transform: translate(-50%, -50%);
}
.select-carousel {
    bottom: 0;
    width: 75vw;
    height: 20vh;
    background: linear-gradient(135deg, #bf3f32, #a04a40);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $canvas;
    & > .select-carousel__container {
        margin: 1rem;
        overflow: scroll;
        display: flex;
        // width: min-content;
        justify-content: flex-start;
        align-items: center;
        & > .select-carousel__item {
            cursor: pointer;
            & > .select-carousel__item-img {
                width: auto;
                height: 12vh;
            }
            & > .select-carousel__item-text {
                width: 100%;
                text-align: center;
            }
        }
    }
    // & > .select-carousel__pointer {
    //     bottom: -1rem;
    //     right: 21rem;
    //     position: absolute;
    //     width: 0;
    //     height: 0;
    //     border-style: solid;
    //     border-width: 0 20px 40px 20px;
    //     border-color: transparent transparent #fca742 transparent;
    //     filter: drop-shadow($shadow);
    // }
}

.control {
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    box-shadow: $shadow;
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-style: solid;
    }
    &.up {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &::after {
            border-width: 0 5px 10px 5px;
            border-color: transparent transparent black transparent;
        }
    }
    &.down {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        &::after {
            border-width: 10px 5px 0px 5px;
            border-color: black transparent transparent transparent;
        }
    }
}
.select-pointer {
    bottom: 1rem;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #fca742 transparent;
    filter: drop-shadow(0 2px 6px black);
}
.images-pointer {
    right: -1rem;
    top: 1rem;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 40px 20px 0px;
    border-color: transparent #bf3f32 transparent transparent;
    filter: drop-shadow($shadow);
}
.manager > .container > .manager-image__container {
    box-shadow: $canvas;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
