/** @format */
$shadow: 4px 4px 16px #0007;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Oswald:wght@200;400;700&display=swap");
h1,
h2,
h3,
h4,
h5 {
    font-family: "Oswald";
}
h1 {
    font-size: 5vw;
}
h2 {
    font-size: 4vw;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    // overflow: hidden;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    & * {
        box-sizing: border-box;
    }
}
.background {
    width: 100%;
    & > .background__leftside {
        width: 33.33vw;
        height: 100vh;
        background-color: #f9785880;
    }
}
.panel {
    position: absolute;
    margin: 1rem 0;
    box-shadow: $shadow;
}
.panel-right {
    border-radius: 2rem 0 0 2rem;
    right: 0;
}
.panel-left {
    border-radius: 0 2rem 2rem 0;
    left: 0;
}
.main-panel {
    top: 0;
    width: 75vw;
    height: 66.66vh;
    background-color: #ffa451;
    & > .main-panel__container {
        padding: 1rem 1rem 1rem 8rem;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 100%;
        & > .images-carousel {
            position: relative;
            & > .images-carousel__container {
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow: scroll;
                & > .images-carousel__item {
                    & > .images-carousel__item-img {
                        width: 100%;
                        height: auto;
                    }
                }

                & > .images-carousel__pointer {
                    right: -1rem;
                    top: 1rem;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 40px 20px 0px;
                    border-color: transparent #bf3f32 transparent transparent;
                    filter: drop-shadow($shadow);
                }
            }
        }
        & > .current-image {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            & > img {
                width: 100%;
                height: auto;
                filter: drop-shadow(2px 2px 6px black);
            }
        }
        & > .description {
            width: 100%;
            overflow: scroll;
        }
    }
}
.specification {
    top: 33.33vh;
    width: 33.33vw;
    height: 44vh;
    background-color: #eee;
    transform: translateY(-50%);
    overflow: scroll;
    & > .specifiction__text {
        padding: 1rem;
        columns: 2;
        column-rule: dotted #ffa451;
    }
}
.title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 16.66vw;
    transform: translateX(-50%);
}
.select-carousel {
    bottom: 0;
    width: 75vw;
    height: 20vh;
    background-color: #bf3f32;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .select-carousel__container {
        margin: 1rem;
        overflow: scroll;
        display: flex;
        // width: min-content;
        justify-content: flex-start;
        align-items: center;
        & > .select-carousel__item {
            & > .select-carousel__item-img {
                width: auto;
                height: 12vh;
            }
            & > .select-carousel__item-text {
                width: 100%;
                text-align: center;
            }
        }
    }
    & > .select-carousel__pointer {
        bottom: -1rem;
        right: 21rem;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 40px 20px;
        border-color: transparent transparent #fca742 transparent;
        filter: drop-shadow($shadow);
    }
}

.control {
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    box-shadow: $shadow;
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-style: solid;
    }
    &.up {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &::after {
            border-width: 0 5px 10px 5px;
            border-color: transparent transparent black transparent;
        }
    }
    &.down {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        &::after {
            border-width: 10px 5px 0px 5px;
            border-color: black transparent transparent transparent;
        }
    }
}
.manager {
    width: 22vw;
    position: absolute;
    bottom: 3rem;
    left: 11.11vw;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    & > .container {
        & > .manager-image__container {
            width: 50%;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            box-shadow: $shadow;
            overflow: hidden;
            & > .manager-image__dummy {
                margin-top: 100%;
            }
            & > img {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
        & > .manager-name,
        & > .manager-contact {
            padding-top: 1rem;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}
